<html>
    
    <head>
        
         <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
          
  <title>MetroEvalua</title>
 <style>
      body{
        background-image:url("http://static.panoramio.com/photos/original/8980581.jpg");
        background-size: cover;
        
      }
    </style>
    
 </head>   
    
      
    <body>
        
          <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Jefe del Departamento</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
         
        </div>
      </header>
      <div class="mdl-layout__drawer">
       
       
             <span class="mdl-layout-title">Sesion Jefe Dpto </span>
            <input type="button" value="Pagina de inicio" onclick="history.back(-1)" />
          <a class="mdl-navigation__link" href="/">Cerrar Sesion</a>
      </div>
      <main class="mdl-layout__content" align=CENTER>
        {{#nombres}}
         <h3>Profesores del departamento de {{nombredpto}}</h3>
         {{/nombres}}
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align=CENTER>
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nombre</th>
          <th>Apellido</th>
          <th>Carnet</th>
          <th>Cedula</th>
          <th>Correo</th>
          <th><td>
          <th></th>
          <th></th>
           <th></th>
           
        </tr>
     
      </thead>
      
      <tbody>
        
          {{#profesores}}
        <tr>
           <form action="/preparar_autorizacion_docente" method="POST">  
          <td class="mdl-data-table__cell--non-numeric">{{nombre}}</td>
          <td>{{apellido}}</td>
          <td>{{carnet}}</td>
          <td>{{cedula}}</td>
          <td>{{correo}}</td>
          <td><input type="hidden" name="id" value={{id}}></td>
           <td><input type="hidden" name="correo2" value={{correo2}}></td>
          <td><input type="submit" value="dar acceso a resultados"></td>
              </form> 
        </tr>
          
        {{/profesores}}
      </tbody>
    
    </table>
    <br>
       
     
        
    </body>
    
    
    
    
    
    
    
</html>