<html>
    
    <head>
        
         <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        
    
    
      
    <body>
        
          <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Jefe del Departamento X</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">

          <a href="/enviar_evaluacion_docente" class="mdl-layout__tab">Autorizar Acceso</a>
          <a href="#fixed-tab-3" class="mdl-layout__tab">Consultar Resultados</a>
           <a href="#fixed-tab-3" class="mdl-layout__tab">Consultar Estado del Proceso</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Activar Evaluacion</span>
        <a class="mdl-navigation__link" href="/enviar_evaluacion_docente">Docente</a>
          <a class="mdl-navigation__link" href="/enviar_evaluacion_estudiante">Estudiante</a>
       
             <span class="mdl-layout-title">Sesion Jefe Dpto </span>
          <a class="mdl-navigation__link" href="/">Cerrar Sesion</a>
      </div>
      <main class="mdl-layout__content">

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Estudiante</th>
          <th>Cedula</th>
          
        </tr>
      </thead>
      <tbody>
          {{#personas}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{nombre}}</td>
          <td>{{cedula}}</td>
        </tr>
        {{/personas}}
      </tbody>
     
 
    </table>
        <button><span>Enviar Evaluacion</span> <i class="fa fa-check"></i></button>
        
    </body>
    
    
    
    
    
    
    
</html>