<!DOCTYPE html>
  <html>
      <head>
             
  <title>MetroEvalua</title>
           <style>

            </style>
      </head>
    <body>
    <title> Crear Persona</title>
    <h1 style="font:'Times New Roman'; color:#000000;font-size:30px;font-weight:bold;text-align:center;" > <br> </h1>
    
        <br>
        <br>
        <br>
        <body>
    
        
  <form   action="/getP"  method="POST">
<h2>Crear una nueva persona</h2>
<input type="text" placeholder="nombre" name="nombre" id="nombre"><br/>
<input type="text" placeholder="Cedula" name="cedula" id="cedula">
<input type="submit" value="Crear persona" >
</form>




               </body>
  </html>
  