<html>
    
    <head>
        
         <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
           
  <title>MetroEvalua</title>
    
    <style>
      body{
        background-image:url("http://static.panoramio.com/photos/original/8980581.jpg");
        background-size: cover;
        
      }
    </style>
      
    <body>
        
          <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Jefe del Departamento</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">

        
        </div>
      </header>
      <div class="mdl-layout__drawer">
        
       
             <span class="mdl-layout-title">Sesion Jefe Dpto </span>
            <input type="button" value="Pagina de inicio" onclick="history.back(-1)" />
          <a class="mdl-navigation__link" href="/">Cerrar Sesion</a>
      </div>
      <main class="mdl-layout__content" align=CENTER>
          {{#nombres}}
         <h3>Resultados</h3>
         <h4>Seccion:{{seccion}} Docente:{{docente}}</h4>
         
          {{/nombres}} 
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align=CENTER>
      <thead>
        <tr>
            
          <th align="left">Pregunta</th>
          <th align="left">Resultado</th>
          
        
     
        </tr>
      </thead>
      <tbody>
          {{#resultados}}
        <tr>
          <td align="left">{{enunciado}}</td>
          <td align="left">{{respuesta}}</td>
        </tr>
        {{/resultados}}
      </tbody>
        {{#total}}
        <h2>Puntaje Total: {{puntajetotal}}</h2>
        {{/total}}
    </table>
       
        
    </body>
    
    
    
    
    
    
    
</html>