<html>
    
    <head>
        
         <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        
    
    
      
    <body>
        
          <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Vicerrectorado</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">

          <a href="#fixed-tab-2" class="mdl-layout__tab">Modificar Instrumento Evaluacion A</a>
          <a href="#fixed-tab-3" class="mdl-layout__tab">Modificar Instrumento Evaluacion B</a>
       
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Activar Evaluacion</span>
        <a class="mdl-navigation__link" href="">Docente</a>
          <a class="mdl-navigation__link" href="">Estudiante</a>
          <a class="mdl-navigation__link" href="">Evaluacion Jefe Dpto</a>
             <span class="mdl-layout-title">Sesion Vicerrectorado </span>
          <a class="mdl-navigation__link" href="/">Cerrar Sesion</a>
      </div>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
         <section class="mdl-layout__tab-panel" id="fixed-tab-4">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
      </main>
    </div>
        
        
        
        
    </body>
    
    
    
    
    
    
    
</html>